.content
  .content__breadcrumb.content__wrap
    .breadcrumb
      a.breadcrumb__item(href="/") Главная
      a.breadcrumb__item(href="#") Ошибка 404
  section.page
    .content__wrap.page__wrap
      .content__title.page__title.titlePink Ошибка 404
    .content__wrap.about__wrap
      .page__box
        .content__text.page__text
          p Наш интернет-магазин торгового оборудования для магазинов - это прекрасная возможность оборудовать Ваши магазины качественным оборудованием по очень приятным ценам.<br> Наше оборудование позволяет эффективно использовать торговую площадь, достигать запланированный товарооборот, а также обеспечивать максимальное удобство для клиентов.
          p Наш интернет-магазин торгового оборудования для магазинов - это прекрасная возможность оборудовать Ваши магазины качественным оборудованием по очень приятным ценам.<br> Наше оборудование позволяет эффективно использовать торговую площадь, достигать запланированный товарооборот, а также обеспечивать максимальное удобство для клиентов.
          ul
            li - Торговые стеллажи, стеллажи островные.
            li - Экономпанели и комплектующие к ним ( крючки, полки, кронштейны, дуги, полкодержатели)
            li - Система хромированных труб Joker, Uno.
            li - Системы перфорированных стоек УНИВЕРСАЛ
            li - Торговые стойки для магазина одежды и обуви.
          iframe(width="560" height="315" src="https://www.youtube.com/embed/5y9m5bBKdf8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
          p Наши менеджеры подберут для Вас всевозможные конфигурации, посоветуют на какой товар стоит обратить особое внимание. Ведь нам важна ценность товара в глазах потребителя, то насколько успешно будут удовлетворены потребности посредствам нашего товара. Люди купившие один раз у нас, приходят и второй и третий раз, а также рекомендуют друзьям, знакомым, торговым компаниям и магазинам. Большой ассортимент нашего товара позволяет сотрудничать с торговыми центрами, супермаркетами, шоуромами и гостиничными комплексами.