footer.footer
  .footer__box.box
    .footer__title.title.alignCenter Контакты
    .footer__subtitle.title.title--before Свяжитесь с&nbsp;нами
    .footer__columns
      .footer__column
        .footer__text
          img.footer__ico(src="images/ico/metro.svg")
          p Бульвар Дмитрия Донского / Лесопарковая (последний вагон из&nbsp;центра, по&nbsp;указателю на&nbsp;ул.&nbsp;Знаменские Садки)
        .footer__text
          img.footer__ico(src="images/ico/point.svg")
          p Производство: Северное бутово, ул.&nbsp;Старобитцевская,&nbsp;д.&nbsp;22А
          p Офис: ул.&nbsp;Ратная, д.16, корп.&nbsp;3, ТЦ&nbsp;«Малой»
      .footer__column
        .footer__text
          img.footer__ico(src="images/ico/time.svg")
          p Производство работает круглосуточно Файлы принимаются в&nbsp;работу&nbsp;до&nbsp;20&nbsp;ч.
        .footer__text
          img.footer__ico(src="images/ico/phone2.svg")
          p
            a(href="tel:#") +7(495) 111-45-65
    .footer__map
      iframe.footer__mapIframe(src="https://yandex.ru/map-widget/v1/?um=constructor%3A86c6b826c79b9a7356b6e9e5225d8c5d5a955bfc806568e1db573b0090c6cae3&amp;source=constructor" width="1188" height="444" frameborder="0")
    .footer__bottom.alignCenter Designed by 
      a.footer__designed(href="#") GroupNet