svg.hide
  include svg

noscript.noscript Чтобы посмотреть сайт включите JavaScript на&nbsp;своём устройстве.

//-.popup
  a.popup__closer.js-closePopup(href="#")
  .popup__layer
  .popup__box
    .form__wrap
      .form__box
        .form__title.js-formTitle
        form.form.popup__form(action='/' name='sign' method='POST')
          input.popup__input.form__input.js-requireText(type='text' name="name" value='' placeholder='Ваше имя' minlength='2' tabindex="1")
          input.popup__input.form__input.js-requirePhone(type='text' name="phone" value='' placeholder='Ваш телефон' minlength='10' tabindex="2")
          input.form__input.form__input--hide(type='text' name="type" value='')
          input.popup__input.form__input.form__input--hide(type='text' name="text" value='')
          button.btn.form__submit.form__submit.disabled(type='submit' disabled="disabled" tabindex="3") Отправить
      .form__loader
        svg.img-loader
          use(xlink:href='#ico-loader')
      .form__answer-send
        .form__title
          p Спасибо, заявка отправлена!
      .form__answer-error
        .form__title
          p Что-то пошло не&nbsp;так, попробуйте снова!

header.header
.header__box.box
  .header__logo
    a.logo(href="/")
      img(src="images/logo.png")
  .header__phone
    a.phone(href="tel:#")
      img.phone__ico.phone__ico--dsc(src="images/ico/phone.svg")
      img.phone__ico.phone__ico--mob(src="images/ico/phone3.svg")
  .header__toggle.popup-open(data-id="menu_head") MENU 
  .header__nav
  .popup-fade#menu_head
    
    nav.nav.popup
      .popup__header.headerBlock.box
        .headerBlock__brand PlayArt
        .headerBlock__close
          img(src="images/ico/phone.svg", alt="")
          .popup-close Закрыть
      .nav__wrapp.box
        .nav__item
          a.nav__link(href="index.html") Главная
        .nav__item
          a.nav__link(href="digital-advert.html") Диджитал реклама
        ul.navSub
          li.nav__item.parent
            a.nav__link(href="#") Типография и производство 
            <svg width="16" height="29" viewBox="0 0 16 29" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 1L14 14.5L1 28" stroke="white" stroke-width="2"/></svg>
              ul.submenu
                li.nav__item
                  a.nav__link(href="polygraphy.html") Полиграфия
                li.nav__item
                  a.nav__link(href="large-format.html") Широкоформатная печать
                li.nav__item
                  a.nav__link(href="standart-format.html") Печать стандартных рекламных форматов
                li.nav__item
                  a.nav__link(href="print.html") Печать на тканях
          div
            .nav__item
              a.nav__link(href="design-studio.html") Дизайн студия
            .nav__item
              a.nav__link(href="decoration-event.html") Оформление мероприятий
            .nav__item
              a.nav__link(href="decoration-moll.html") Оформление и обслуживание торговых центров
            .nav__item

          li.nav__item.parent
            a.nav__link(href="#") Пресс-воллы и Ролл-ап стенды
            <svg width="16" height="29" viewBox="0 0 16 29" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 1L14 14.5L1 28" stroke="white" stroke-width="2"/></svg>
              ul.submenu.submenu-style
                li.nav__item
                  a.nav__link(href="stand-roll-up.html") Стенды Roll-up
                li.nav__item
                  a.nav__link(href="press-voll.html") Пресс - воллы
        .nav__item
          a.nav__link(href="mobile-stand.html") Мобильные стенды
        .nav__item
          a.nav__link(href="install-advant.html") Монтаж рекламы
        .nav__item
          a.nav__link(href="file-requirement.html") Технические требования к файлам
        .nav__item
          a.nav__link(href="contacts.html") Контакты


