.popup-fade.myModal
  .popup-ContactForm
    .popupForm 
      .popupForm__close 
        img(src="images/ico/close.svg", alt="")
      .popupForm__headWrapper
        .popupForm__head Оставить заявку
        .popupForm__text Оставьте ваши данные и наш менеджер свяжется с Вами для уточнения деталей 
      
      form(action="#").contactForm
        input.contactForm__placeWrite(type="text" placeholder="Ваше имя")
        input.contactForm__placeWrite(type="text" placeholder="+7 (---) --- -- --")  
        input.contactForm__button(type="submit" value="Отправить")
        .contactForm__personDate Оставляя заявку, вы даете согласие на обработку персональных данных