@font-face
  font-family 'Ubuntu'
  font-style normal
  font-weight 400
  src local(''), url('../fonts/ubuntu-v15-latin_cyrillic-regular.woff2') format('woff2'), url('../fonts/ubuntu-v15-latin_cyrillic-regular.woff') format('woff')
  font-display swap
@font-face
  font-family 'Ubuntu'
  font-style normal
  font-weight 500
  src local(''), url('../fonts/ubuntu-v15-latin_cyrillic-500.woff2') format('woff2'), url('../fonts/ubuntu-v15-latin_cyrillic-500.woff') format('woff')
  font-display swap
@font-face
  font-family 'Ubuntu'
  font-style normal
  font-weight 700
  src local(''), url('../fonts/ubuntu-v15-latin_cyrillic-700.woff2') format('woff2'), url('../fonts/ubuntu-v15-latin_cyrillic-700.woff') format('woff')
  font-display swap