.screenPage
    section.mainTitle
      .mainLink 
        div <span>PlayArt / </span>Оформление и обслуживание торговых центров
      .titleBlock
          h1.titleBlock__text Объемные буквы и световые короба
      .textBlock-mainScreen 
          p.textBlock__text Объемные буквы и световые короба, производство и монтаж - это одно из направлений деятельности нашей компании.  Рекламные световые короба, или лайтбоксы - широко распространенный элемент дизайнерского оформления витрин, магазинных и выставочных интерьеров и многого другого.
          p.textBlock__text Сегодня этот наиболее распространенный тип расположения имиджевой рекламы и информации может быть очень разнообразным. Поэтому конструирование нестандартных заказов не составляет проблем для конструкторов.

.pageWrapper.box
    section.information
      .informationTitle
        .informationTitle__line
        .informationTitle__text Объемные буквы

      .information__textBlock.textBlock 
        .textBlock__col-text.col-text 
          p.col-text__item Предлагаем изготовление эффектных конструкций для наружной рекламы - объемные буквы для вывесок, оформления входных групп и интерьеров.Вывески из световых и несветовых объемных букв хорошо сочетаются с рекламными носителями любых типов. Элементы такого вида рекламы являются эффектным дополнением вывески, рекламной конструкции, информационного стенда или крышной установки и относятся к световой рекламе,  предлагаемой нашей компанией в Бутово, Москве и Московской области. 
          p.col-text__item Современные технологии предлагают разные варианты подсветки на любой вкус и кошелек. Светодиоды открывают широкое поле деятельности как для дизайнеров так и для сферы производства и оформления проектов. Динамические сценарии могут передавать изображение в самих буквах, применять различные эффекты таких как переливание цвета с изменением градации и многое другое. В крышных конструкция применение светодиодных модулей позволит рекламе светится ярко и заметно как днем так и ночью, в интерьерах можем предложить опцию регулировки яркости вывески.
        .textBlock__col-image 
          img(src="images/3dLetter-img1.jpg", alt="")

      .buttonOrder
        a(href="#").buttonOrder__link.popup-open-modalForm Обсудить заказ 
    
    .lineContent 

    section.information
      .informationTitle
        .informationTitle__line
        .informationTitle__text Световые короба

      .information__textBlock.textBlock 
        .textBlock__col-text.col-text 
          p.col-text__item Эксклюзивные лайтбоксы со сложным фигурным контуром, отображающие логотип и элементы фирменного стиля компании. Такой рекламный продукт всегда обратит на себя внимание. Подсветка в таких коробах осуществляется чаще светодиодными модулями и линейками - это более практично и экономично.
          p.col-text__item Фигурные световые короба используются как для наружной рекламы, так и для помещений. При изготовлении таких световых конструкций сложной нестандартной формы можно реализовать любые пожелания клиента
          .buttonOrder
            a(href="#").buttonOrder__link.popup-open-modalForm Обсудить заказ 
        .textBlock__col-image 
          img(src="images/3dLetter-img2.jpg", alt="")


