.screenPage
    section.mainTitle
      .mainLink 
        div <span>PlayArt / </span>Организация и оформление мероприятий
      .titleBlock
          h1.titleBlock__text Ростовые фигуры и инстарамки
      .textBlock-mainScreen 
          p.textBlock__text У нас возможно изготовление инстарамок и ростовых фигур. В наших силах производство конструкций практически любых размеров. 
          p.textBlock__text Мы используем собственное автоматизированное оборудование. Это позволяет нам быстро справляться с заказами по изготовлению ростовых фигур, сохраняя высокое качество и привлекательные цены. Каждый заказ курирует персональный менеджер.

.pageWrapper.box
    section.information
      .informationTitle
        .informationTitle__line
        .informationTitle__text Ростовые фигуры

      .information__textBlock.textBlock 
        .textBlock__col-text.col-text 
          p.col-text__item Рекламные конструкции в виде ростовых фигур — это оригинальные POS-материалы, неизменно привлекающие всеобщее внимание! Изготавливаются ростовые фигуры из пенокартона, композита и пластика, а конструктивно представляют собой полноцветные изображения, нанесенные на жесткую основу. Для дополнительной защиты изображение может быть заламинированно. Такие конструкции могут иметь различные очертания.
          ul.col-text__item Разновидности ростовых конструкций: 
          li Интерьерные, изготавливаются из пенокартона и используются только в помещениях. Оснащаются опорным элементом, который не дает фигуре упасть;
          li Уличные: производятся из пластика и композитных материалов, менее восприимчиввых, чем пенокартон, к агрессивному воздействию внешней среды;
          li Двусторонние, имеющие рекламное изображение на обеих сторонах, что повышает их эффективность и позволяет устанавливать не только у стены или в углу, как односторонние бодистенды, но и в центральной части помещений или на открытом уличном пространстве;
          li Ростовые фигуры могут иметь различную стоимость, которая зависит от размера и площади изделия. На продукцию больших объемов предоставляется дополнительный дисконт!


        .textBlock__col-image 
          img(src="images/inst-img1.jpg", alt="")

      .buttonOrder
        a(href="#").buttonOrder__link.popup-open-modalForm Обсудить заказ 
    
    .lineContent 

    section.information
      .informationTitle
        .informationTitle__line
        .informationTitle__text Инстарамки

      .information__textBlock.textBlock 
        .textBlock__col-text.col-text 
          p.col-text__item Инстарамка - это рамка для селфи выполненная из Пластика в стиле популярных социальных сетей instagram ( facebook или вконтакте) или по Вашему индивидуальному дизайну.
          p.col-text__item Инстарамка - самый популярный аксессуар на любой вечеринке! Используется на свадьбе, на дне рождения, на юбилее, на корпоративе, и любом другом мероприятии.
          p.col-text__item Если у Вас есть свой магазин, кафе, салон красоты - такая рамка также окажется кстати - гости могут делать фоторафии для Ваших и своих соцсетей. Рамка Instagram идеально впишется в любой интерьер.
          p.col-text__item Рамка Инстаграм может быть изготовлена из пенокартона, из пластика разной толщины, с металлическим каркасом. Изображение печатается с высоким разрешением, на самоклеющейся пленке, которая затем прикатывается к основанию. Для защиты от механических повреждений поверхность ламинируется. Конструкция проста при сборке и легко транспортируется. По Вашему желанию конструкция может быть усилена для установки на улице. Срок изготовления - 1 день.
          .buttonOrder
            a(href="#").buttonOrder__link.popup-open-modalForm Обсудить заказ 
        .textBlock__col-image 
          img(src="images/inst-img2.jpg", alt="")
