.screenPage
    section.mainTitle
        .titleBlock
            h1.titleBlock__text Дизайн студия
        .textBlock-mainScreen 
            p.textBlock__text Дизайнеры компании "Play Art" обладают большим опытом работы в дизайне полиграфической продукции и готовы разработать макет для любых технологических процессов: офсетная печать, шелкография, флексография, широкоформатная и цифровая печать, Мы предлагаем услуги дизайна в области рекламы в Бутово, Москве, Московской области.
            p.textBlock__text Наши дизайнеры могут разработать макет по вашим эскизам, в соответствии с вашим фирменным стилем, или с нуля (разработка концепции). При разработке макета могут быть использованы, как фотографии клиента, так и фотографии из нашего фотобанка.

.pageWrapper.box
    .blockButton 
        .blockButton__list
            .blockButton__item 
                a(href="#") Поздравительная продукция
            .blockButton__item 
                a(href="#") Буклеты
            .blockButton__item 
                a(href="#") Реклама
            .blockButton__item 
                a(href="#") Листовки
            .blockButton__item 
                a(href="#") Фирменный стиль


    section.information
        .informationTitle
            .informationTitle__line
            .informationTitle__text Дизайн буклетов

    .information__textBlock.textBlock 
        
        .tableBlockRow
            .rowTable
                .rowTable__nameCol Буклеты А4 (210 х 297 мм)
                .rowTable__textCol от 2500 руб.	
            .rowTable
                .rowTable__nameCol Буклеты А3 (297 х 420 мм)	
                .rowTable__textCol от 3500 руб.	 


        .textBlock__col-image 
            img(src="images/designStudio-img1.jpg", alt="")
    
    section.information
        .informationTitle
            .informationTitle__line
            .informationTitle__text Дизайн наружной рекламы

    .information__textBlock.textBlock 
        
        .tableBlockRow
            .rowTable
                .rowTable__nameCol Суперборды (суперсайты) от 12х3 м
                .rowTable__textCol 10 000 руб.
            .rowTable
                .rowTable__nameCol Перетяжка	
                .rowTable__textCol 450 руб.
            .rowTable
                .rowTable__nameCol Штендер	
                .rowTable__textCol 2500 руб.
            .rowTable
                .rowTable__nameCol Световой короб (вывеска, лайтбокс)	
                .rowTable__textCol 6000 руб.
            .rowTable
                .rowTable__nameCol Плакаты (до 1 м.кв.)	
                .rowTable__textCol от 2000 руб.
            .rowTable
                .rowTable__nameCol Рекламный щит
                .rowTable__textCol от 4500 руб.
            .rowTable
                .rowTable__nameCol Оформление автотранспорта
                .rowTable__textCol от 4500 руб.


        .textBlock__col-image 
            img(src="images/designStudio-img2.jpg", alt="")
    
    section.information
        .informationTitle
            .informationTitle__line
            .informationTitle__text Дизайн листовок

    .information__textBlock.textBlock 
        
        .tableBlockRow
            .rowTable
                .rowTable__nameCol Листовки А5 (148 х 210 мм)	
                .rowTable__textCol от 2000 руб.	
            .rowTable
                .rowTable__nameCol Листовки А4 (210 х 297 мм)		
                .rowTable__textCol от 2500 руб.


        .textBlock__col-image 
            img(src="images/designStudio-img3.jpg", alt="")

    section.information
        .informationTitle.informationTitle-style-top
            .informationTitle__line.informationTitle-linetwo
            .informationTitle__text Дизайн поздравительной <br> продукции

    .information__textBlock.textBlock 
        
        .tableBlockRow
            .rowTable
                .rowTable__nameCol Пригласительные билеты
                .rowTable__textCol от 1500 руб.	
            .rowTable
                .rowTable__nameCol Открытки	
                .rowTable__textCol от 2500 руб.
            .rowTable
                .rowTable__nameCol Упаковка
                .rowTable__textCol от 3500 руб.


        .textBlock__col-image 
            img(src="images/designStudio-img4.jpg", alt="")

    section.information
        .informationTitle
            .informationTitle__line
            .informationTitle__text Фирменный стиль

    .information__textBlock.textBlock 
        
        .tableBlockRow
            .rowTable
                .rowTable__nameCol Создание логотипа
                .rowTable__textCol от 8000 руб.	
            .rowTable
                .rowTable__nameCol Создание брендбука
                .rowTable__textCol от 30 000 руб.

        .textBlock__col-image 
            img(src="images/designStudio-img5.jpg", alt="")