.screenPage
    section.mainTitle
        .titleBlock
            h1.titleBlock__text Технические требования к файлам
        .textBlock-mainScreen 
            p.textBlock__text Рекламно-производственная компания Play Art имеет значительный опыт работы по изготовлению рекламной продукции и готова предложить Вам высококачественную широкоформатную печать, послепечатную обработку и изготовление наружной рекламы. А так же мы осуществляем монтаж наружной рекламы любой сложности, с применением специальной техники и с привлечением альпинистов. Это позволяет безопасно и быстро производить работы по монтажу и демонтажу рекламы.
.pageWrapper.box
    section.information
      .informationTitle
        .informationTitle__line
        .informationTitle__text Требования к макетам

    ul.blockTextInform Форматы файлов, принимаемых в печать:
    li .tiff
    li .eps
    li .cdr
    .blockTextInform К макету желательно прилагать распечатанное на листе изображение, а также дополнительный файл в формате .jpeg для просмотра.
    .blockTextInform Требования к растровым файлам:
    .blockTextInform - цветовая модель CMYK; - все слои должны быть сведены в единственный слой – Background, без дополнительных альфа-каналов (Channels), путей (Paths) и без сжатия (LZV-compression); - оптимальный объем файла- до 150 Мб; - разрешение растровых изображений (при размере 1:1): для печати изображений размером 6х3 м и более- 30-40 dpi; для печати изображений сити-формат (1,2х1,8м) – 75-150 dpi;
    .blockTextInform Требования к векторным файлам:
    .blockTextInform - цветовая модель CMYK; - все шрифтовые объекты должны быть переведены в кривые; - все элементы макета должны находиться только ВНУТРИ области вашего макета; - все контуры (обводки) толщиной более 2мм необходимо перевести (конвертировать) в объекты (особенно в шрифтах); - если представляете макет 1:10, то проследите, чтобы в контурах (обводках) была установлена опция –Scale with image (масштабировать с изображением); - эффекты в файлах Corel Draw должны быть растрированы, т.к. нерастрированные эффекты и тени могут привести к некорректной печати и искажению изображения.

    section.information
      .informationTitle
        .informationTitle__text Важно:
    .blockTextInform.blockTextInform-border - если в макете повышенные требования к отдельным (индексированным) цветам, то необходимо указать цвет по Panton Process , а также его процентное соотношение в модели CMYK; - черный цвет должен быть составным ( например: C50,M50,Y50, K100), в противном случае цвет получится темно серым, а не черным; - если по краям файла есть белые (светлые) поля - сделайте обводку черного цвета в 1пиксель; - избегайте большого масштабирования Bit-map-вых вставок в векторных программах - это отражается на качестве изображения; - разрешение печати и разрешение самого файла - разные понятия; - перед тем, как отправить макет, проверьте его изображение в программе Photoshop, чтобы убедиться в правильном отображении информации; - для достижения высокой степени совпадения по цвету при печати многоцветных и сложных изображений, рекомендуется прикреплять к макету цветовой профиль.
    .blockTextInform При подготовке файлов следует учитывать:
    .blockTextInform Обратите внимание на то, что если вы импортируете растровые картинки в Corel, то не следует вставлять файлы в модели RGB.Только файлы с цветовой моделью CMYK. Иначе при экспорте Corel сам сделает цветоделение в модель CMYK с непредсказуемым результатом. Поэтому перед тем, как помещать растровую картинку в макет, обработайте ее и внесите изменения в Photoshop. Не используйте эффекты прозрачности, тени и прочие эффекты в векторных файлах - они моделируются программой Corel в цветовом пространстве RGB и тоже будут некорректно экспортироваться.
    .blockTextInform Предоставление макетов для полноцветной широкоформатной печати в растровом формате TIFF является лучшей гарантией от неожиданных изменений в файле в процессе печати. Но возникает трудность при передаче файла нам через Интернет. При подготовке файла в формате TIFF необходимо свести все слои в один слой Background и удалить все дополнительные каналы и пути, которые создавались в процессе работы над макетом.
    .blockTextInform Разрешение файлов должно быть оптимальным. Недостаточное разрешение файла приведет к тому, что будут заметны пиксели при изготовлении рекламных щитов, границы линий будут зубчатыми. Избыточное разрешение файлов значительно увеличит работу над файлом и его обработку, но качество отпечатка при этом не изменится. Для больших брандмауэров, которые устанавливаются на высоте и зрительно воспринимаются с большого расстояния можно снижать разрешение до 18-20 dpi. Если пиксели и видны с близкого расстояния, то при удалении на 10-20 метров они становятся неразличимыми. Немаловажным является качество и разрешение исходных картинок, которые вы помещаете в ваш макет для изготовления наружной рекламы. Необходимо учитывать, что то изображение, которое вы рассматриваете в формате А4, не всегда выглядит также в формате 6х3 м и более.

    .blockTextInform.blockTextInform-border ПРИ ИЗГОТОВЛЕНИИ МАКЕТА В КОРЕЛЕ СЛЕДУЕТ УЧЕСТЬ ЧТО ВСЕ ВЕКТОРНЫЕ ОБЬЕКТЫ ДОЛНЫ БЫТЬ ПОДГОТОВЛЕНЫ В ЦВЕТОВОЙ МОДЕЛИ CMYK при изготовлении макета в формате eps размер макета следует выставлять в формате монтажной области , если это не позволяет (макет превышает размер выставляемый монтажной областью), то макет изготавливается в масштабе1:10