.screenPage
    section.mainTitle
      .mainLink 
        div <span>PlayArt / </span>Монтаж рекламы
      .titleBlock
          h1.titleBlock__text Монтаж рекламы
      .textBlock-mainScreen 
          p.textBlock__text Рекламно-производственная компания Play Art имеет значительный опыт работы по изготовлению рекламной продукции и готова предложить Вам высококачественную широкоформатную печать, послепечатную обработку и изготовление наружной рекламы. А так же мы осуществляем монтаж наружной рекламы любой сложности, с применением специальной техники и с привлечением альпинистов. Это позволяет безопасно и быстро производить работы по монтажу и демонтажу рекламы.

.pageWrapper.box
    section.information
      .informationTitle
        .informationTitle__line
        .informationTitle__text Монтаж рекламы

      .information__textBlock.textBlock 
        .textBlock__col-text.col-text 
          p.col-text__item Мы монтируем наружную рекламу как в Бутово, так и по всей Москве и Московской обасти, в любом месте и на любой высоте, включая промышленный альпинизм. Специалисты-высотники проведут монтаж наружной рекламы любой сложности. Монтаж рекламы на высоте производится с использованием автовышки. Наличие современного оборудования позволяет производить монтаж рекламы качественно и в самые короткие сроки. Монтаж рекламы, установленный в наиболее подходящем месте позволит привлечь наиболее активную аудиторию в свои двери, поэтому монтаж рекламы требует тщательного подбора места для размещения.
          p.col-text__item Cтоимость монтажа и демонтажа наружной рекламы определяется сложностью установки, размером и весом рекламных конструкций и материалов, стоимостью крепёжных материалов, условиями работы, удаленностью объекта и сроками, необходимыми для монтажных работ
        .textBlock__col-image 
          img(src="images/advant-img.jpg", alt="")

      .buttonOrder
        a(href="#").buttonOrder__link.popup-open-modalForm Обсудить заказ 
    