.screenPage
    section.mainTitle
        .titleBlock
            h1.titleBlock__text Широкоформатная печать
        .textBlock-mainScreen 
            p.textBlock__text Безусловное преимущество, которым отличается широкоформатная печать – это отсутствие границ. Проявите свою фантазию или пользуйтесь услугами нашего дизайнера, делая мир вокруг прекраснее! Об особенностях услуги узнавайте по номеру телефона, указанному на сайте.

.pageWrapper.box
    .blockButton 
        .blockButton__list
            .blockButton__item 
                a(href="#banner") Баннеры
            .blockButton__item 
                a(href="#plenka") Пленка
            .blockButton__item 
                a(href="#photobumaga") Фотобумага
            .blockButton__item 
                a(href="#setka") Строительная сетка
            .blockButton__item 
                a(href="#holst") Холст
            .blockButton__item 
                a(href="#becklite") BeckLite
            

    section.information#banner
      .informationTitle
        .informationTitle__line
        .informationTitle__text Печать на баннере

      .information__textBlock.textBlock 
        .textBlock__col-text.col-text 
          p.col-text__item Рекламные баннеры размещают на улицах и вдоль дорог, возле входа в магазины, на витринах и фасадах зданий. Благодаря крупным размерам они читаются с большого расстояния, хорошо заметны прохожим, водителям и пассажирам личного и общественного транспорта. Это обеспечивает широкий охват целевой аудитории. Для производства баннеров используют технологию широкоформатной печати.
        .textBlock__col-image 
          img(src="images/largeFormat-img1.jpg", alt="")

      .buttonOrder
        a(href="#").buttonOrder__link Обсудить заказ 
    
    .lineContent 

    section.information#plenka
      .informationTitle
        .informationTitle__line
        .informationTitle__text Печать на пленке (наклейки)

      .information__textBlock.textBlock 
        .textBlock__col-text.col-text 
          p.col-text__item К Вашим услугам широкий выбор различных самоклеющихся пленок от лучших производителей. Они используются для оформления выставочных стендов, витрин магазинов, автотранспорта, офисов, а также любых интерьеров, уличных конструкций, напольной рекламы. 
          p.col-text__item Современное профессиональное оборудование позволяет нам оказывать услуги широкоформатной печати на самоклеющейся пленке с разрешением до 1440 dpi, гарантирующим фотокачество картинки. У нас Вы также можете заказать и любые дополнительные услуги, например, по плоттерной фигурной резке, «накатке пленки», монтажу.
          .buttonOrder
            a(href="#").buttonOrder__link Обсудить заказ 
        .textBlock__col-image 
          img(src="images/largeFormat-img2.jpg", alt="")

    .lineContent 

    section.information#photobumaga
      .informationTitle
        .informationTitle__line
        .informationTitle__text Печать на фотобумаге

      .information__textBlock.textBlock 
        .textBlock__col-text.col-text 
          p.col-text__item Уровень современной технологии позволяет осуществить печать на фотобумаге на разнообразных материалах. Вам надоело хранить большие объёмы фото на жёстком диске своего компьютера? 
          p.col-text__item Если да, то обратитесь скорее к нам, ведь мы в обязательном порядке поможем вам решить такую проблему! Лазерная печать фото, струйная печать фото – выбор только за вами!
          .buttonOrder
            a(href="#").buttonOrder__link Обсудить заказ 
        .textBlock__col-image 
          img(src="images/largeFormat-img3.jpg", alt="")
    
    .lineContent 

    section.information#setka
      .informationTitle
        .informationTitle__line
        .informationTitle__text Печать на строительной сетке

      .information__textBlock.textBlock 
        .textBlock__col-text.col-text 
          p.col-text__item Баннерная сетка – это многофункциональное приспособление, которое выполняет сразу две задачи: служит в качестве рекламного носителя и закрывает собой строительные зоны и фасады, где ведутся ремонтные работы.
          p.col-text__item Наша компания обладает всем необходимым оборудованием для того, чтобы осуществлять качественную широкоформатную печать на сетке. Мы оперативно выполняем заказы даже для нанесения изображения на баннерную сетку размером свыше 50 м². Сетка отличается от баннера своей легкостью, способностью пропускать свет, а также более доступной ценой.
          .buttonOrder
            a(href="#").buttonOrder__link Обсудить заказ 
        .textBlock__col-image 
          img(src="images/largeFormat-img4.jpg", alt="")

    .lineContent 

    section.information#holst
      .informationTitle
        .informationTitle__line
        .informationTitle__text Печать на холсте

      .information__textBlock.textBlock 
        .textBlock__col-text.col-text 
          p.col-text__item Несмотря на постоянное развитие полиграфических технологий, такой традиционный материал как холст все еще находит свое активное применение в печати. Уникальная структура, естественная шероховатость ткани и восхитительная передача цветов позволяют с высокой точностью воспроизводить произведения мирового искусства, фотографии и рекламную продукцию. 
          p.col-text__item Заказывая печать на холсте (Москва) у нас, вы получаете гарантию качественного и оперативного выполнения работ любого уровня сложности. Новейшее оборудование позволяет нам переносить на холст изображения с разрешением до 1440 dpi.
          .buttonOrder
            a(href="#").buttonOrder__link Обсудить заказ 
        .textBlock__col-image 
          img(src="images/largeFormat-img5.jpg", alt="")
    
    .lineContent 

    section.information#becklite
      .informationTitle
        .informationTitle__line
        .informationTitle__text Печать на BeckLite

      .information__textBlock.textBlock 
        .textBlock__col-text.col-text 
          p.col-text__item Бэклит (backlit) – полимерный материал на основе полиэфиров, из которого изготавливается специальная светорассеивающая плёнка. Чаще всего используется для рекламных конструкций с внутренней подсветкой: световых коробов, дисплеев или лайтбоксов. Бэклиты выглядят очень ярко, что существенно отличает их от аналогов.
          p.col-text__item На основе бэклита можно сделать практически любое изображение. Специальное покрытие для печати и высокая разрешающая способность гарантируют качественное исполнение: фотографическое качество со всей присущей ему четкостью, яркостью и насыщенностью. Этот материал довольно жесткий, именно поэтому он не подвержен растяжению. К тому же бэклит имеет большую оптическую плотность, что дает возможность использовать его даже без подсветки.
          .buttonOrder
            a(href="#").buttonOrder__link Обсудить заказ 
        .textBlock__col-image 
          img(src="images/largeFormat-img6.jpg", alt="")
