.screenPage
    section.mainTitle
        .titleBlock
            h1.titleBlock__text Полиграфия
        .textBlock-mainScreen 
            p.textBlock__text Полиграфия раскрывает стиль и имидж компании, при создании различных рекламных проспектов, листовок каталогов, блокнотов и визиток, которые несут фирменный логотип. Выпуск праздничной полиграфии для многих предприятий стало традицией. Ведь поздравляя своих партнеров или заказчиков тем же календарем или открыткой Вы оставляете след о себе в их памяти. е крепится баннер большого размера до 5 метров, а иногда и более. В разобранном виде конструкция становится компактной, благодаря чему ее очень удобно хранить и транспортировать. С помощью пресс волла можно всего за пару минут оригинально оформить праздничное помещение. Срок изготовления - 1 день.

.pageWrapper.box
    .blockButton 
        .blockButton__list
            .blockButton__item 
                a(href="#visitki") Визитки
            .blockButton__item 
                a(href="#flaeri") Флаеры
            .blockButton__item 
                a(href="#listovki") Листовки
            .blockButton__item 
                a(href="#bukleti") Буклеты
            .blockButton__item 
                a(href="#katalogi") Каталоги
            .blockButton__item 
                a(href="#kalendari") Календари
            .blockButton__item 
                a(href="#plakati") Плакаты

    section.information
      .informationTitle#visitki
        .informationTitle__line
        .informationTitle__text Печать визиток

      .information__textBlock.textBlock 
        .textBlock__col-text.col-text 
          p.col-text__item Визитка или визитная карточка — небольшой, изготовленный из плотной бумаги, картона, в некоторых случаях иных материалов, носитель сведений о конкретном человеке, организации, как правило, содержащий контактные данные. Обычно на визитке присутствуют: имя владельца, название и логотип фирмы, которую он представляет (если таковая имеется), а так же необходимые для связи с владельцем координаты (телефоны, адреса, электронная почта и т.д.).
        .textBlock__col-image 
          img(src="images/polygraphy-img1.jpg", alt="")

      .buttonOrder
        a(href="#").buttonOrder__link.popup-open-modalForm Обсудить заказ 
    
    .lineContent 

    section.information
      .informationTitle#flaeri
        .informationTitle__line
        .informationTitle__text Печать флаеров

      .information__textBlock.textBlock 
        .textBlock__col-text.col-text 
          p.col-text__item Флаер — небольшая листовка рекламного характера, предоставляющая какие-либо преимущества при предъявлении: скидку, подарок, бесплатный вход на мероприятие.
          .buttonOrder
            a(href="#").buttonOrder__link.popup-open-modalForm Обсудить заказ 
        .textBlock__col-image 
          img(src="images/polygraphy-img2.jpg", alt="")

    .lineContent 

    section.information
      .informationTitle#listovki
        .informationTitle__line
        .informationTitle__text Печать листовок

      .information__textBlock.textBlock 
        .textBlock__col-text.col-text 
          p.col-text__item Листовка — вид агитационно-политической или информационной литературы,  лист бумаги с текстом и иногда с иллюстрациями.
          p.col-text__item Листовки подкладываются, передаются из рук в руки, разбрасываются с самолётов, а также расклеиваются.
          .buttonOrder
            a(href="#").buttonOrder__link.popup-open-modalForm Обсудить заказ 
        .textBlock__col-image 
          img(src="images/polygraphy-img3.jpg", alt="")
    
    .lineContent 

    section.information
      .informationTitle#bukleti
        .informationTitle__line
        .informationTitle__text Печать буклетов

      .information__textBlock.textBlock 
        .textBlock__col-text.col-text 
          p.col-text__item Буклет — издание в виде одного листа печатного материала, сфальцованного любым способом в два или более сгибов. Традиционно буклеты изготавливаются на бумаге из листа формата А4 или меньше (рекламные издания, печатаемые форматом А4 и больше, называются проспектами).
          p.col-text__item Следует отличать буклет от листовки и брошюры, потому как листовкой считается печатная продукция с одним сгибом, либо вовсе без них. 
          .buttonOrder
            a(href="#").buttonOrder__link.popup-open-modalForm Обсудить заказ 
        .textBlock__col-image 
          img(src="images/polygraphy-img4.jpg", alt="")

    .lineContent 

    section.information
      .informationTitle#katalogi
        .informationTitle__line
        .informationTitle__text Печать каталогов

      .information__textBlock.textBlock 
        .textBlock__col-text.col-text 
          p.col-text__item Каталог представляет собой изделие рекламной полиграфии, в котором содержится перечень товаров и услуг компании с указанием их цен и характеристик.
          .buttonOrder
            a(href="#").buttonOrder__link.popup-open-modalForm Обсудить заказ 
        .textBlock__col-image 
          img(src="images/polygraphy-img5.jpg", alt="")
    
    .lineContent 

    section.information
      .informationTitle#kalendari
        .informationTitle__line
        .informationTitle__text Печать календарей

      .information__textBlock.textBlock 
        .textBlock__col-text.col-text 
          p.col-text__item Календарь — упорядоченный список дней года с дроблением на месяцы и недели, с обозначением выходных дней, государственных или иных праздников. В календаре, как правило, присутствует тематическое художественное или рекламное  оформление, также может присутствовать и другая информация не относящаяся непосредственно к календарю.
          .buttonOrder
            a(href="#").buttonOrder__link.popup-open-modalForm Обсудить заказ 
        .textBlock__col-image 
          img(src="images/polygraphy-img6.jpg", alt="")

    .lineContent 

    section.information
      .informationTitle#plakati
        .informationTitle__line
        .informationTitle__text Печать плакатов

      .information__textBlock.textBlock 
        .textBlock__col-text.col-text 
          p.col-text__item Плакат — разновидность прикладной печатной графики, наборно-шрифтовое или художественно-иллюстративное листовое крупноформатное печатное тиражное издание, содержащее в наглядно-компактном виде информацию рекламного, агитационно-пропагандистского, инструктивно-методического, учебного и другого характера. 
          p.col-text__item Лист плаката содержит броское изображение и броский заголовок или призыв. В современном дизайне плакат воспринимается как «сведённое в чёткую визуальную формулу сообщение, предназначенное современнику для выводов и конкретных действий». 
          .buttonOrder
            a(href="#").buttonOrder__link.popup-open-modalForm Обсудить заказ 
        .textBlock__col-image 
          img(src="images/polygraphy-img7.jpg", alt="")



      