.screenPage
    section.mainTitle
        .titleBlock
            h1.titleBlock__text Пресс-воллы
        .textBlock-mainScreen 
            p.textBlock__text Press wall (Brand wall) - это сборная рекламная конструкция используемая внутри помещений и выставочных залов для оформления фонового пространства разных мероприятий и пресс-конференций. 
            p.textBlock__text Пресс волл создается из хромированных труб на которые крепится баннер большого размера до 5 метров, а иногда и более. В разобранном виде конструкция становится компактной, благодаря чему ее очень удобно хранить и транспортировать. С помощью пресс волла можно всего за пару минут оригинально оформить праздничное помещение. Срок изготовления - 1 день.

.pageWrapper.box
    .blockButton 
        .blockButton__list
            .blockButton__item 
                a(href="#odnotrub") Однотрубные
            .blockButton__item 
                a(href="#dvutrub") Двухтрубные
            .blockButton__item 
                a(href="#brus") Из бруса
            .blockButton__item 
                a(href="#tkan") Тканевые
            .blockButton__item 
                a(href="#stoimost") Стоимость

    section.information
        .informationTitle#odnotrub
            .informationTitle__line
            .informationTitle__text Однотрубные Пресс-воллы

    .information__textBlock.textBlock 
        .textBlock__col-text.col-text 
            p.col-text__item Основу конструкции Press wall представляет каркас, чаще всего выполненный из легких и прочных алюминиевых труб и баннерного полотна.
            p.col-text__item Данная конструкция обладает массой преимуществ: она легкая и в то же время очень прочная, может быть выполнена абсолютно в любом размере, имеет презентабельный внешний вид, удобна при транспортировке и переносе даже в собранном виде. Используя модули системы Presswall есть возможность сборки объемных декораций и стендов. Отдельно стоит отметить лёгкость сборки данной конструкции. 

        .textBlock__col-image 
            img(src="images/pressVoll-img1.jpg", alt="")

    .buttonOrder
        a(href="#").buttonOrder__link Обсудить заказ 

    .titleTable Однотрубные Пресс-воллы
    .table-wrap
        table
            thead
                tr
                    th Размер конструкции
                    th Аренда конструкции/сутки
                    th Печать баннера
                    th Аренда Пресс Волл + печать баннера
                    th Покупка конструкции Пресс Волл, руб.
            tbody
                tr
                    td(data-label="Размер конструкции") 1,5 х 2 м
                    td(data-label="Аренда конструкции/сутки") 1 400 руб.
                    td(data-label="Печать баннера") 2 200 руб.
                    td(data-label="Аренда Пресс Волл + печать баннера") 3 600 руб.
                    td(data-label="Покупка конструкции Пресс Волл, руб.") 2 900 руб.
                tr
                    td(data-label="Размер конструкции") 2 х 2 м
                    td(data-label="Аренда конструкции/сутки") 1 500 руб.
                    td(data-label="Печать баннера") 2 300 руб.
                    td(data-label="Аренда Пресс Волл + печать баннера") 3 800 руб.
                    td(data-label="Покупка конструкции Пресс Волл, руб.") 3 500 руб.

                tr
                    td(data-label="Размер конструкции") 2.5 х 2 м
                    td(data-label="Аренда конструкции/сутки") 1 900 руб.
                    td(data-label="Печать баннера") 2 600 руб.
                    td(data-label="Аренда Пресс Волл + печать баннера") 4 500 руб.
                    td(data-label="Покупка конструкции Пресс Волл, руб.") 4 000 руб.
                tr
                    td(data-label="Размер конструкции") 2 х 3 / 3 х 2 м
                    td(data-label="Аренда конструкции/сутки") 3 500 руб.
                    td(data-label="Печать баннера") 2 800 руб.
                    td(data-label="Аренда Пресс Волл + печать баннера") 4 700 руб.
                    td(data-label="Покупка конструкции Пресс Волл, руб.") 4 200 руб.
                tr
                    td(data-label="Размер конструкции") 2 х 4 / 4 х 2 м
                    td(data-label="Аренда конструкции/сутки") 2 400 руб.
                    td(data-label="Печать баннера") 3 600 руб.
                    td(data-label="Аренда Пресс Волл + печать баннера") 7 100 руб.
                    td(data-label="Покупка конструкции Пресс Волл, руб.") 6 500 руб.
                tr
                    td(data-label="Размер конструкции") 2.5 х 3 м
                    td(data-label="Аренда конструкции/сутки") 3 800 руб.
                    td(data-label="Печать баннера") 3 200 руб.
                    td(data-label="Аренда Пресс Волл + печать баннера") 5 600 руб.
                    td(data-label="Покупка конструкции Пресс Волл, руб.") 4 500 руб.
                tr
                    td(data-label="Размер конструкции") 2 х 5 / 5 х 2 м
                    td(data-label="Аренда конструкции/сутки") 2 900 руб.
                    td(data-label="Печать баннера") 4 000 руб.
                    td(data-label="Аренда Пресс Волл + печать баннера") 7 800 руб.
                    td(data-label="Покупка конструкции Пресс Волл, руб.") 7 000 руб.
                tr
                    td(data-label="Размер конструкции") 3  х 3 м
                    td(data-label="Аренда конструкции/сутки") 2 900 руб.
                    td(data-label="Печать баннера") 3 800 руб.
                    td(data-label="Аренда Пресс Волл + печать баннера") 6 700 руб.
                    td(data-label="Покупка конструкции Пресс Волл, руб.") 4 900 руб.
                tr
                    td(data-label="Размер конструкции") 4  х 2.5 м
                    td(data-label="Аренда конструкции/сутки") 3 800 руб.
                    td(data-label="Печать баннера") 4 000 руб.
                    td(data-label="Аренда Пресс Волл + печать баннера") 7 800 руб.
                    td(data-label="Покупка конструкции Пресс Волл, руб.") 7 000 руб.
                tr
                    td(data-label="Размер конструкции") 4  х 3 м
                    td(data-label="Аренда конструкции/сутки") 4 000 руб.
                    td(data-label="Печать баннера") 4 600 руб.
                    td(data-label="Аренда Пресс Волл + печать баннера") 8 600 руб.
                    td(data-label="Покупка конструкции Пресс Волл, руб.") 7 000 руб.
                tr
                    td(data-label="Размер конструкции") 6 х 2 м
                    td(data-label="Аренда конструкции/сутки") 5 000 руб.
                    td(data-label="Печать баннера") 4 600 руб.
                    td(data-label="Аренда Пресс Волл + печать баннера") 9 600 руб.
                    td(data-label="Покупка конструкции Пресс Волл, руб.") 9 000 руб.
                tr
                    td(data-label="Размер конструкции") 6 х 3 м
                    td(data-label="Аренда конструкции/сутки") 5 500 руб.
                    td(data-label="Печать баннера") 7 600 руб.
                    td(data-label="Аренда Пресс Волл + печать баннера") 13 100 руб.
                    td(data-label="Покупка конструкции Пресс Волл, руб.") 9 500 руб.

    .lineContent 

    section.information
        .informationTitle#dvutrub
            .informationTitle__line
            .informationTitle__text Двухтрубные Пресс-воллы

    .information__textBlock.textBlock 
        .textBlock__col-text.col-text 
            p.col-text__item Сборно-разборная конструкция Press wall, выполняется из связки 2-х хромированных труб. Предназначена для баннеров больших размеров. Возможно изготовление по размерам заказчика.
            p.col-text__item Конструкции из связки 3х- или 4х- хромированных труб предназначены для баннеров больших размеров, а также используются для выставочных стендов, задников для сцены, пресс стен. Стенды изготавливаются по размерам заказчика. Наша компания может изготовить пресс вол любого размера. 
        
        .textBlock__col-image 
            img(src="images/pressVoll-img2.jpg", alt="")

    .buttonOrder
        a(href="#").buttonOrder__link Обсудить заказ 

    .titleTable Двухтрубные Пресс-воллы
    .table-wrap
        table
            thead
                tr
                    th Размер конструкции
                    th Стоимость конструкции
                    th Стоимость полотна
                    th Итого с печатью баннера
            tbody
                tr
                    td(data-label="Размер конструкции") 2 х 2 м
                    td(data-label="Стоимость конструкции") 9 500 руб.
                    td(data-label="Стоимость полотна") 2 090 руб.
                    td(data-label="Итого с печатью баннера") 11 590 руб.
                tr
                    td(data-label="Размер конструкции") 2 х 3 / 3 х 2 м
                    td(data-label="Стоимость конструкции") 11 000 руб.
                    td(data-label="Стоимость полотна") 3 080 руб.
                    td(data-label="Итого с печатью баннера") 14 080 руб.
                tr
                    td(data-label="Размер конструкции") 3 х 4 / 4 х 3 м
                    td(data-label="Стоимость конструкции") 13 500 руб.
                    td(data-label="Стоимость полотна") 5 060 руб.
                    td(data-label="Итого с печатью баннера") 18 560 руб.
                tr
                    td(data-label="Размер конструкции") 3 х 5 / 5 х 3 м
                    td(data-label="Стоимость конструкции") 15 000 руб.
                    td(data-label="Стоимость полотна") 5 700 руб.
                    td(data-label="Итого с печатью баннера") 20 700 руб.
                tr
                    td(data-label="Размер конструкции") 4 х 4 м
                    td(data-label="Стоимость конструкции") 15 750 руб.
                    td(data-label="Печать баннера") 6 100 руб.
                    td(data-label="Итого с печатью баннера") 21 850 руб.
                tr
                    td(data-label="Размер конструкции") 4 х 5 / 5 х 4 м
                    td(data-label="Стоимость конструкции") 16 950 руб.
                    td(data-label="Печать баннера") 7 600 руб.
                    td(data-label="Итого с печатью баннера") 24 550 руб.
    .lineContent

    section.information
        .informationTitle#brus
            .informationTitle__line
            .informationTitle__text Пресс-воллы из бруса

    .information__textBlock.textBlock 
        .textBlock__col-text.col-text 
            p.col-text__item Большинство пресс-воллов изготавливаются из металлических конструкций разной сложности (однотрубные, двухтрубные), но если вам требуется крупномасштабный тематический фон, лучше для этого подходит пресс-волл из бруса, который можно изготовить совершенно любых размеров и форм. Даже если размеры рамы не позволяют использовать целостное полотно, на деревянную конструкцию проще натянуть баннер частями и соединить в единую "картину". 
            p.col-text__item Так же каркас из дерева позволяет без проблем полностью скрыть конструкцию пресс-волла при помощи натяжения баннера, т.е. зрители видят только полноценное изображение без рамы, к которой оно крепится, а за счет отсутствия люверсов и благодаря прямым углам бруса, пресс волл имеет четкие очертания и приятный внешний вид.руб предназначены для баннеров больших размеров, а также используются для выставочных стендов, задников для сцены, пресс стен. Стенды изготавливаются по размерам заказчика. Наша компания может изготовить пресс вол любого размера. 
        
        .textBlock__col-image 
            img(src="images/pressVoll-img3.jpg", alt="")

    .buttonOrder
        a(href="#").buttonOrder__link Обсудить заказ 

    .titleTable Пресс-воллы из бруса
    .table-wrap
        table
            thead
                tr
                    th Размер конструкции
                    th Покупка стандарт
                    th Печать баннера
            tbody
                tr
                    td(data-label="Размер конструкции") 2 х 2 м
                    td(data-label="Покупка стандарт") 8 500 руб.
                    td(data-label="Печать баннера") 2 790 руб.
                tr
                    td(data-label="Размер конструкции") 2.5 х 2 м
                    td(data-label="Покупка стандарт") 9 000 руб.
                    td(data-label="Печать баннера") 3 190 руб.
                tr
                    td(data-label="Размер конструкции") 3 х 2 м
                    td(data-label="Покупка стандарт") 9 500 руб.
                    td(data-label="Печать баннера") 3 590 руб.
                tr
                    td(data-label="Размер конструкции") 2.5 х 2.5 м
                    td(data-label="Покупка стандарт") 10 000 руб.
                    td(data-label="Печать баннера") 3 790 руб.
                tr
                    td(data-label="Размер конструкции") 3 х 2.5 м
                    td(data-label="Покупка стандарт") 10 500 руб.
                    td(data-label="Печать баннера") 4 290 руб.
                tr
                    td(data-label="Размер конструкции") 4 х 2 м
                    td(data-label="Покупка стандарт") 11 000 руб.
                    td(data-label="Печать баннера") 4 590 руб.
                tr
                    td(data-label="Размер конструкции") 3 х 3 м
                    td(data-label="Покупка стандарт") 12 000 руб.
                    td(data-label="Печать баннера") 4 390 руб.
                tr
                    td(data-label="Размер конструкции") 4 х 2,5  м
                    td(data-label="Покупка стандарт") 13 000 руб.
                    td(data-label="Печать баннера") 5 290 руб.
                tr
                    td(data-label="Размер конструкции") 4 х 3  м
                    td(data-label="Покупка стандарт") 15 500 руб.
                    td(data-label="Печать баннера") 5 690 руб.
    .lineContent
         
    section.information
        .informationTitle#tkan
            .informationTitle__line
            .informationTitle__text Тканевые Пресс-воллы

    .information__textBlock.textBlock 
        .textBlock__col-text.col-text 
            p.col-text__item Легкий в сборке и установке рамочный стенд с текстильной фотопанелью из специальной светоблокирующей ткани, со скрытым каркасом в собранном состоянии. Возможность размещения полотен с обеих сторон конструкции. 
            p.col-text__item Особенность конструкции, позволяет компоновать стену любой длинны путем соединения каркасов, скрытая конструкция позволяет располагать полотна всех конструкций без видимых швов и стыков, таким образом образуя скрытый переход изображения, от одной конструкции в другую.
        
        .textBlock__col-image 
            img(src="images/pressVoll-img4.jpg", alt="")

    .buttonOrder
        a(href="#").buttonOrder__link Обсудить заказ 