.screenPage
    section.mainTitle
        .titleBlock
            h1.titleBlock__text Пресс-воллы
        .textBlock 
            p.textBlock__text Press wall (Brand wall) - это сборная рекламная конструкция используемая внутри помещений и выставочных залов для оформления фонового пространства разных мероприятий и пресс-конференций. 
            p.textBlock__text Пресс волл создается из хромированных труб на которые крепится баннер большого размера до 5 метров, а иногда и более. В разобранном виде конструкция становится компактной, благодаря чему ее очень удобно хранить и транспортировать. С помощью пресс волла можно всего за пару минут оригинально оформить праздничное помещение. Срок изготовления - 1 день.

.pageWrapper.box
    .blockButton 
        .blockButton__list
            .blockButton__item 
                a(href="#") Однотрубные
            .blockButton__item 
                a(href="#") Двухтрубные
            .blockButton__item 
                a(href="#") Из бруса
            .blockButton__item 
                a(href="#") Тканевые
            .blockButton__item 
                a(href="#") Стоимость

