.screenPage
    section.mainTitle
      .mainLink 
        div <span>PlayArt / </span>Типография и производство
      .titleBlock
          h1.titleBlock__text Печать на тканях
      .textBlock-mainScreen 
          p.textBlock__text В последнее время в интерьерной рекламе большой популярностью стал пользоваться баннер из ткани. Наша компания, используя современное оборудование, выполняет заказы на широкоформатную печать изображений на ткани, в отличном качестве и в самые короткие сроки.
          p.textBlock__text А также изготавливаем конструкции различного размера из аллюминиего профиля, как настенные, так и напольные, для натяжения данных тканевых плакатов. Часто используются в витринах торговых центров и различных бутиков, так как имеют очень презентабельный вид и подразумевается легкая замена полотна. 

.pageWrapper.box
    .blockButton 
        .blockButton__list
            .blockButton__item 
                a(href="#satin") Сатин
            .blockButton__item 
                a(href="#svetTkan") Световая ткань
            .blockButton__item 
                a(href="#neSvetTkan") Не световая ткань
            .blockButton__item 
                a(href="#ramki#") Рамки для натяжения
            

    section.information#satin
      .informationTitle
        .informationTitle__line
        .informationTitle__text Печать на ткани сатин 

      .information__textBlock.textBlock 
        .textBlock__col-text.col-text 
          p.col-text__item Сублимационная печать на текстиле повсеместно используется для оформления витрин, интерьеров, театральных декораций, коммерческих помещений, для декорации фасадов реставрируемых зданий, рекламно выставочной продукции и многого другого. Наше печатное оборудование обладает высоким разрешением, позволяет печатать на тканях шириной до 3,1 м. без единого шва! Для крепления и натяжения ткани используется специальный алюминиевый профиль. Профиль (texframe) для натяжения ткани бывает односторонний и двухсторонний.
        .textBlock__col-image 
          img(src="images/print-img1.jpg", alt="")

      .buttonOrder
        a(href="#").buttonOrder__link.popup-open-modalForm Обсудить заказ 
    
    .lineContent 

    section.information#svetTkan
      .informationTitle
        .informationTitle__line
        .informationTitle__text Печать на световой ткани

      .information__textBlock.textBlock 
        .textBlock__col-text.col-text 
          p.col-text__item Ткань для световых коробов или лайтбоксов (транслюцентная ткань, светорассеивающая ткань, самба, ткань бэклит) - один из самых популярных материалов для оформления световой рекламы indoor. Ткань весит в разы меньше чем баннер, и компактно складывается, что актуально для транспортировки.
          p.col-text__item Печать на ткани происходит в специальном режиме, когда краска кладется сильно плотнее, чем на обычных материалах. Благодаря такой технологии, подсвеченное изображение получается очень ярким и насыщенным.
          .buttonOrder
            a(href="#").buttonOrder__link.popup-open-modalForm Обсудить заказ 
        .textBlock__col-image 
          img(src="images/print-img2.jpg", alt="")

    .lineContent 

    section.information#neSvetTkan
      .informationTitle
        .informationTitle__line
        .informationTitle__text Печать на не световой ткани

      .information__textBlock.textBlock 
        .textBlock__col-text.col-text 
          p.col-text__item Несветовые вывески, в отличчие от световых,  менее заметны в тёмное время суток, но их гораздо проще установить, так как они не требуют подводки электричества. Для того, чтобы определиться с типом вывески а также получить подробную консультацию, обращайтесь к нашим менеджерам
          .buttonOrder
            a(href="#").buttonOrder__link.popup-open-modalForm Обсудить заказ 
        .textBlock__col-image 
          img(src="images/print-img3.jpg", alt="")
    
    .lineContent 

    section.information
      .informationTitle.informationTitle-style-top
            .informationTitle__line.informationTitle-linetwo
            .informationTitle__text Изготовление рамок для <br> натяжения ткани 


      .information__textBlock.textBlock#ramki
        .textBlock__col-text.col-text 
          p.col-text__item Для крепления и натяжения ткани используется специальный алюминиевый профиль. Профиль (texframe) для натяжения ткани бывает односторонний и двухсторонний.
          .buttonOrder
            a(href="#").buttonOrder__link.popup-open-modalForm Обсудить заказ 
        .textBlock__col-image 
          img(src="images/print-img4.jpg", alt="")
