.screenPage
    section.mainTitle
        .titleBlock
            h1.titleBlock__text Стенды Roll-up
        .textBlock-mainScreen 
            p.textBlock__text Roll up - это мобильная рекламная установка. Почему многие компании предпочитают именно ее? Легкая пластиковая или алюминиевая конструкция может размещаться как внутри помещения, так и на улице, вмещая в себя достаточное количество информации о для того, чтобы рассказать все необходимое об услугах и продукции компании. 

section.information.box
    .informationTitle
        .informationTitle__line
        .informationTitle__text Стандартные стенды Roll-up

    .information__textBlock.textBlock 
        .textBlock__col-text.col-text 
            p.col-text__item Надежный и удобный мобильный стенд roll up представляет собой легкую конструкцию из алюминия и позволяет им пользоваться многократно.Классическая конструкция экранного типа с механизмом автоматической подмотки полотна. Вертикальная трехсоставная опора складывается внутрь в конструкцию.Две алюминиевые выдвижные ножки придают стенду отличную устойчивость.
            ul.col-text__item Стандартные размеры ролл апа: 
            li высота -  200 см 
            li ширина -  60, 85, 100, 120, 150, 200 см 
            li Высота у всех ролл апов возможна любая, до 2 метров 
            li В комплектацию ролл апа входит сумка –чехол.
            li Время сборки – 30 cекунд.
            li Вес от 2 кг                                         
        .textBlock__col-image 
            img(src="images/standRoll-img1.jpg", alt="")
    .blockButton-stylePosition
        .buttonOrder.buttonOrder-rightPosition
            a(href="#").buttonOrder__link.popup-open-modalForm Обсудить заказ 

    .titleTable Стандартные стенды Roll-up
    .table-wrap
        table
            thead
                tr
                    th Назвние конструкции
                    th Высота
                    th Ширина
                    th Цена 1 шт
                    th Цена от 5 шт
            tbody
                tr
                    td(data-label="Назвние конструкции") Ролл ап 60 см standart
                    td(data-label="Высота") 160 см
                    td(data-label="Ширина") 60 см
                    td(data-label="Цена 1 шт") 4 300 руб.
                    td(data-label="Цена от 5 шт") 4 000 руб.
                tr
                    td(data-label="Назвние конструкции") Ролл ап 85 см
                    td(data-label="Высота") 200 см
                    td(data-label="Ширина") 85 см
                    td(data-label="Цена 1 шт") 4 500 руб.
                    td(data-label="Цена от 5 шт") 4 900 руб.
                tr
                    td(data-label="Назвние конструкции") Ролл ап 100 см standart
                    td(data-label="Высота") 200 см
                    td(data-label="Ширина") 100 см
                    td(data-label="Цена 1 шт") 5 500 руб.
                    td(data-label="Цена от 5 шт") 5 000 руб.
                tr
                    td(data-label="Назвние конструкции") Ролл ап 120 см standart
                    td(data-label="Высота") 200 см
                    td(data-label="Ширина") 120 см
                    td(data-label="Цена 1 шт") 5 900 руб.
                    td(data-label="Цена от 5 шт") 5 200 руб.
                tr
                    td(data-label="Назвние конструкции") Ролл ап 150 см standart
                    td(data-label="Высота") 200 см
                    td(data-label="Ширина") 150 см
                    td(data-label="Цена 1 шт") 6 000 руб.
                    td(data-label="Цена от 5 шт") 5 500 руб.
                tr
                    td(data-label="Назвние конструкции") Ролл ап 200 см standart
                    td(data-label="Высота") 200 см
                    td(data-label="Ширина") 200 см
                    td(data-label="Цена 1 шт") 12 000 см
                    td(data-label="Цена от 5 шт") 11 500 руб.
                tr
                    td(data-label="Назвние конструкции") Ролл ап 300 см standart
                    td(data-label="Высота") 200 см
                    td(data-label="Ширина") 300 см
                    td(data-label="Цена 1 шт") 17 000 см
                    td(data-label="Цена от 5 шт") 16 500 руб.

    .lineContent 

    section.information.box
    .informationTitle
        .informationTitle__line
        .informationTitle__text Каплевидные стенды Roll-up

    .information__textBlock.textBlock 
        .textBlock__col-text.col-text 
            p.col-text__item Каплевидная модель ролл-ап высокого качества, она более внушительна и презентабельна.Стильный каплевидный дизайн корпуса, широкое основание каплевидной формы с хромированными наконечниками, конструкция экранного типа с механизмом автоматической подмотки полотна, вертикальная трехсоставная опора складывается внутрь в конструкцию.
            ul.col-text__item Стандартные размеры каплевидного ролл апа: высота - 200 см
            li ширина -  85, 100, 120, 150, 200 см
            li В комплектацию ролл-апа входит сумка – чехол.
            li Время сборки – 1 минута.
            li Вес от 4,5 кг
                          
        .textBlock__col-image 
            img(src="images/standRoll-img2.jpg", alt="")
    .blockButton-stylePosition
        .buttonOrder.buttonOrder-rightPosition
            a(href="#").buttonOrder__link.popup-open-modalForm Обсудить заказ 

    .titleTable Каплевидные стенды Roll-up
    .table-wrap
        table
            thead
                tr
                    th Назвние конструкции
                    th Высота
                    th Ширина
                    th Цена 1 шт
                    th Цена от 5 шт
            tbody
                tr
                    td(data-label="Назвние конструкции") Ролл ап 85 см VIP
                    td(data-label="Высота") 200 см
                    td(data-label="Ширина") 85 см
                    td(data-label="Цена 1 шт") 6 500 руб.
                    td(data-label="Цена от 5 шт") 6 000 руб.
                tr
                    td(data-label="Назвние конструкции") Ролл ап 100 см VIP
                    td(data-label="Высота") 200 см
                    td(data-label="Ширина") 100 см
                    td(data-label="Цена 1 шт") 7 500 руб.
                    td(data-label="Цена от 5 шт") 6 900 руб.
                tr
                    td(data-label="Назвние конструкции") Ролл ап 120 см VIP
                    td(data-label="Высота") 200 см
                    td(data-label="Ширина") 120 см
                    td(data-label="Цена 1 шт") 8 300 руб.
                    td(data-label="Цена от 5 шт") 7 900 руб.
                tr
                    td(data-label="Назвние конструкции") Ролл ап 150 см VIP
                    td(data-label="Высота") 200 см
                    td(data-label="Ширина") 200 см
                    td(data-label="Цена 1 шт") 12 500 руб.
                    td(data-label="Цена от 5 шт") 12 000 руб.