.screenPage
    section.mainTitle
        .titleBlock
            h1.titleBlock__text Печать стандартных рекламных форматов
        .textBlock-mainScreen 
            p.textBlock__text Плакаты — один из популярных видов печатной продукции. При этом, они эффективные рекламные носители, причем недорогие. Они могут проинформировать о поступлении нового товара, о проведении акции, привлечь внимание к бренду, популяризировать продукт, объявить о предстоящем мероприятии. Плакаты нередко используются как наглядное пособие в поликлиниках, учебных заведениях, в предвыборных кампаниях.
            p.textBlock__text Грамотно расположенный качественный плакат увидят и запомнят многие. Он может не только рекламировать продукцию, но и призывать к действию. При этом имеет длительный срок службы.

.pageWrapper.box
    .blockButton 
        .blockButton__list
            .blockButton__item.blockButton__item-littleFontSize 
                a(href="#standart-plakat1") Плакаты 3х6
            .blockButton__item.blockButton__item-littleFontSize 
                a(href="#standart-plakat2") Плакаты 4х12/5х12/5х15
            .blockButton__item.blockButton__item-littleFontSize  
                a(href="#standart-scroller") Скроллеры
            .blockButton__item.blockButton__item-littleFontSize  
                a(href="#standart-pillar") Пиллары 1.4х3
            .blockButton__item.blockButton__item-littleFontSize  
                a(href="#standart-city") Сити форматы 1.2х1.8
            .blockButton__item.blockButton__item-littleFontSize  
                a(href="#standart-afishi") Афиши 1.75х1.76
            

    section.information#standart-plakat1
      .informationTitle
        .informationTitle__line
        .informationTitle__text Плакаты 3х6

      .information__textBlock.textBlock 
        .textBlock__col-text.col-text 
          p.col-text__item Плакаты 3x6 – это изображения, которые размещены вдоль автомобильных дорог, на рекламных щитах 3х6. Размещение рекламных изображений на щитах 3х6 (билбордах) можно считать одним из самых первых видов широкоформатной уличной рекламы в России.
          p.col-text__item Реклама на уличных щитах обеспечивает широкий охват аудитории.
        .textBlock__col-image 
          img(src="images/standartformat-img1.jpg", alt="")

      .buttonOrder
        a(href="#").buttonOrder__link.popup-open-modalForm Обсудить заказ 
    
    .lineContent 

    section.information#standart-plakat2
      .informationTitle
        .informationTitle__line
        .informationTitle__text Плакаты 4х12/5х12/5х15

      .information__textBlock.textBlock 
        .textBlock__col-text.col-text 
          p.col-text__item Для современного дизайна очень важно использовать крупные размеры и большие фотографии. 
          p.col-text__item Плакат или постер — это полиграфическое изделие больших размеров (формата А0, А1 или А2), которое размещается в таких помещениях, как торговые залы, офисы, выставочные центры, магазины, клубы, а зачастую и жилых помещениях . 
          
          .buttonOrder
            a(href="#").buttonOrder__link.popup-open-modalForm Обсудить заказ 
        .textBlock__col-image 
          img(src="images/standartformat-img2.jpg", alt="")

    .lineContent 

    section.information#standart-scroller
      .informationTitle
        .informationTitle__line
        .informationTitle__text Скроллеры (ситиборды)

      .information__textBlock.textBlock 
        .textBlock__col-text.col-text 
          p.col-text__item Скроллер – это установка для рекламы и продвижения, внутри которой находятся, периодически сменяемые, движущиеся постеры с рекламными изображениями.
          p.col-text__item В ночное время суток дисплеи освещаются при помощи внутренней подсветки.
          .buttonOrder
            a(href="#").buttonOrder__link.popup-open-modalForm Обсудить заказ 
        .textBlock__col-image 
          img(src="images/standartformat-img3.jpg", alt="")
    
    .lineContent 

    section.information#standart-pillar
      .informationTitle
        .informationTitle__line
        .informationTitle__text Пиллары 1.4х3

      .information__textBlock.textBlock 
        .textBlock__col-text.col-text 
          p.col-text__item Рекламный пиллар (пер. колонна или столб) – это одна из новых разновидностей конструкций для наружной рекламы. В зависимости от исполнения различают пилларсы с двухсторонними или трехсторонними рекламными полями. Зачастую такой популярный формат оснащается внутренней подсветкой.
          p.col-text__item Стандартный размер рекламных полей на всех сторонах конструкции одинаковый. Составляет как правило 1,4х3м. Такой формат конструкции позволяет пилларам занимать свое место между широкоформатными рекламными щитами мелкоформатными типами наружной рекламы.
          .buttonOrder
            a(href="#").buttonOrder__link.popup-open-modalForm Обсудить заказ 
        .textBlock__col-image 
          img(src="images/standartformat-img4.jpg", alt="")

    .lineContent 

    section.information#standart-city
      .informationTitle
        .informationTitle__line
        .informationTitle__text Сити форматы 1.2х1.8

      .information__textBlock.textBlock 
        .textBlock__col-text.col-text 
          p.col-text__item Одной из наиболее эффективных рекламных конструкций является сити-формат. Это, чаще всего, отдельно стоящий пилон, корпус которого изготовлен из прочного алюминия или стали. 
          p.col-text__item Внутри двусторонней конструкции помещаются рекламные изображения формата 1.2×1.8 м, закрытые ударостойким стеклом и подсвечиваемые в ночное время люминесцентными лампами. Короб запирается на замок, предотвращающая порчу или кражу рекламного носителя.
          .buttonOrder
            a(href="#").buttonOrder__link.popup-open-modalForm Обсудить заказ 
        .textBlock__col-image 
          img(src="images/standartformat-img5.jpg", alt="")
    
    .lineContent 

    section.information#standart-afishi
      .informationTitle
        .informationTitle__line
        .informationTitle__text Афиши 1.75х1.76

      .information__textBlock.textBlock 
        .textBlock__col-text.col-text 
          p.col-text__item Широкоформатная печать афиш — это способ привлечения внимания и информирования людей о скидках, акциях, специальных предложениях и проведении мероприятия. Грамотно расположенные элементы, точность и ясность информации — необходимые атрибуты в печати плакатов и афиш.
          p.col-text__item Наша типография занимается изготовлением афиш любого тиража и формата. Мы готовы помочь в оформлении макета или подборе материалов.
          .buttonOrder
            a(href="#").buttonOrder__link.popup-open-modalForm Обсудить заказ 
        .textBlock__col-image 
          img(src="images/standartformat-img6.jpg", alt="")
