.screenPage
    section.mainTitle
        .titleBlock
            h1.titleBlock__text Таблички и хардпостеры
        .textBlock-mainScreen 
            p.textBlock__text У нас  вы можете заказать таблички и  хардпостеры любого формата, ведь с нашим современным печатным оборудованием не существует каких-либо ограничений!

.pageWrapper.box
    section.information
      .informationTitle
        .informationTitle__line
        .informationTitle__text Таблички из пластика

      .information__textBlock.textBlock 
        .textBlock__col-text.col-text 
          p.col-text__item Пластиковые таблички – это то, о чем стоит позаботиться, открывая собственный офис, магазин или ресторан. Эти маленькие детали корпоративного дизайна красноречиво свидетельствуют о серьезном отношении владельца к своей работе и высоком качестве предоставляемых здесь услуг. 
          p.col-text__item Они информируют посетителей, подчеркивают фирменный стиль заведения. Изготовление табличек из пластика вы можете заказать на нашем сайте, не покидая дома или рабочего места. Мы изготовим для вас изделия, которые полностью будут соответствовать вашим ожиданиям.
        .textBlock__col-image 
          img(src="images/tableHard-img1.jpg", alt="")

      .buttonOrder
        a(href="#").buttonOrder__link.popup-open-modalForm Обсудить заказ 
    
    .lineContent 

    section.information
      .informationTitle
        .informationTitle__line
        .informationTitle__text Хардпостеры

      .information__textBlock.textBlock 
        .textBlock__col-text.col-text 
          p.col-text__item Хардпостеры - это плакаты на жесткой основе. Для их изготовления в основном используют ПВХ 3 х 5 м. На них обращают внимание, с ними фотографируются и удивляются их реалистичности. Хардпостеры, стали универсальным способом привлечения внимания к магазину, торговому центру или конкретному продукту. Они пришли на смену банальным вывесками и стали эффективным средством продвижения своего бизнеса. 
          p.col-text__item Поставьте креативный хардпостер снаружи или внутри своего магазина– и вы заметите, как возрастет интерес потенциальных клиентов к вашим услугам. Вы можете заказать у нас хардпостер любого формата, ведь с нашим современным печатным оборудованием не существует каких-либо ограничений.
          .buttonOrder
            a(href="#").buttonOrder__link.popup-open-modalForm Обсудить заказ 
        .textBlock__col-image 
          img(src="images/tableHard-img2.jpg", alt="")
